/* Header */

header
{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

header h1{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  user-select: none;
}


header h1:hover {
    animation: header-hover 500ms infinite;
}

@keyframes header-hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



/* Customization Bar */
#customization-bar
{
  width: 75%;
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  gap: 32px;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  border-bottom: 1px solid var(--primaryColor);
  z-index: 100;
  box-shadow: var(--shd_LG);
}
#customization-bar.inactive
{
  display: none;
}

#customization-bar select 
{
  border: 1px solid var(--primaryColor);
  border-radius: 12px;
  background-color: var(--backgroundColor_Dark);
  color: var(--textColor);
  padding: 6px 8px;
  font-size: 16px;
}

#customization-bar select option
{
  background-color: var(--backgroundColor_Dark);
}

.bar-header
{
  font-size: 30px;
  font-weight: 600;
}
.customization-options
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.option-container
{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 14px 0;
  font-size: 24px;
}