:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* Colors */
  --primaryColor: #02F0A1;
  --primaryColor_Highlight: #73FACD;
  --secondaryColor: #F00251;
  --backgroundColor: #1E2526;
  --backgroundColor_Dark: #030b0b;
  --textColor: #F7FFFD;
  --textColor_Dark: #272727;

  /* Text sizes */
  --txt_SM: none;
  --txt_MD: none;
  --txt_LG: none;

  /* Padding */
  --pd_SM: none;
  --pd_MD: none;
  --pd_LG: none;

  /* Shadows */
  --shd_SM: none;
  --shd_MD: var(--backgroundColor_Dark) 0px 24px 50px 0px;
  --shd_LG: var(--backgroundColor_Dark) 0px 48px 100px 0px;

  /* Transition */
  --trs_SHORT: all 100ms ease-in-out;
  --trs_MED: all 175ms ease-in-out;
  --trs_LONG: all 300ms ease-in-out;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor)
}

textarea
{
  resize: none;
  height: 100px;
}

#content{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* HIGHLIGHT  PRIMARY COLOR, COLOR ONLY*/
.txt-highlight-p-co {
  color: var(--primaryColor);
}
/* HIGHLIGHT SECONDARY COLOR, COLOR ONLY*/
.txt-highlight-s-co {
  color: var(--secondaryColor);
}
/* HIGHLIGHT PRIMARY COLOR, COLOR W/ UNDERLINE */
.txt-highlight-p-cul {
  color: var(--primaryColor);
  text-decoration: underline;
}

/* Underline grows from center to edge of text */
.txt-underline-effect{
  position: relative;
}
.txt-underline-effect::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--secondaryColor);
  transform: scaleX(0);

  transition: transform 175ms ease;
}
.txt-underline-effect:hover::before {
  transform: scaleX(100%);
}


#sections-list {
  position: fixed;
  /* width: 15%; */
  left: 10%;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}

#sections-list ul
{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#sections-list li:hover{
  cursor: pointer;
  color: var(--secondaryColor);
  transition: var(--trs_SHORT)
}


button
{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  cursor: pointer;
  /* border-radius: 10px; */
  font-size: 14px;
  font-weight: 500;
  padding: 0.75rem 2rem;
}

.primary-btn
{
  background-color: var(--primaryColor);
  color: var(--backgroundColor_Dark);
  transition: all 0.2s ease-in-out;
}

.primary-btn:hover
{
  color: var(--primaryColor);
  background-color: var(--backgroundColor_Dark);
}

.secondary-btn
{
  background-color: var(--backgroundColor_Dark);
  color: var(--primaryColor);
  transition: all 0.2s ease-in-out;
} 
.secondary-btn:hover
{
  background-color: var(--primaryColor);
  color: var(--backgroundColor_Dark);
}