/* About Section */

section
{
    width: 100%;
}

.about-card {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto
}

.about-card-content
{
    display: flex;
    flex-direction: column;
    gap: 14px 0;
    width: 65%;
}

.about-card-content h2{
    font-size: 32px;
}
.about-card-content h3{
    font-size: 24px;
}

.img-coin
{
    border-radius: 100%;
    border: 2px solid var(--primaryColor);
}



/* Projects Section */
#projects
{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: auto auto;
    gap: 0.5rem;
    margin: 0 auto;
}

.project-card
{
    background-color: var(--backgroundColor_Dark);
    display: flex;
    justify-content: space-between;
    transform: translateY(0px);
    border: 1px solid var(--backgroundColor_Dark);
    padding: 2rem;
    gap: 18px;
    transition: all 250ms ease-in-out;
}
.project-card:hover
{
    cursor: pointer;
    transform: translateY(-10px);
    border: 1px solid var(--primaryColor);
    
    box-shadow: var(--shd_MD);
}
.project-card:hover h3
{
    transition: all 400ms ease-in-out;
    background-image: linear-gradient(to right, var(--primaryColor), var(--primaryColor_Highlight) 10%);
    color: transparent;
    background-clip: text;
}

.project-card-left
{
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
    border-right: 1px solid var(--primaryColor);
}
.project-card-left div
{
    /* align-self: flex-end; */
    position: absolute;
    bottom: 0;
}
.project-card h3{
    font-size: 28px;
    font-weight: 700;
    color: var(--primaryColor);
}

.project-card-right
{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.project-card img
{
    width: 225px;
    height: 225px;
    object-fit: cover;
}

.project-card-buttons
{
    display: flex;
    gap: 14px;
    margin-top: 0.5rem;
}

/* Contact Section */
#contact
{
    margin-bottom: 4rem;
}
form
{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0 auto;
    padding: 4rem;
    box-shadow: var(--shd_LG);
}

form h2
{
    margin-bottom: 2rem;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

form button
{
    margin-top: 4rem;
    /* background-color: var(--backgroundColor_Dark); */
}


.contact-item
{
    display: flex;
    width: 100%;
    flex-direction: column;
}


.contact-item input, .contact-item textarea
{
    padding: 14px 22px;
    border: 1px solid var(--primaryColor);
    background-color: var(--backgroundColor_Dark);
    color: var(--textColor);
}