.projects-simple
{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.project-card-simple
{
    background-color: var(--backgroundColor_Dark);
    border: 1px solid var(--backgroundColor_Dark);
    display: flex;
    flex-direction: column;
    gap: 14px;

    padding: 20px 14px;
}
.project-card-simple h3
{
    font-size: 30px;
    color: var(--primaryColor);
}

.project-card-simple div
{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.project-card-simple div a
{
    color: var(--primaryColor_Highlight);
}
.project-card-simple div a:hover
{
    cursor: pointer;
    text-decoration: underline;
}